<launch>
  <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" >
    <param name="frame_id" value="lidar_back_link" />
    <param name="port" value="/dev/ttyACM0" />
  </node>

<!-- publish tf transform between lidar_back_link and base_link -->
 <node pkg="tf" type="static_transform_publisher" name="lidar_tf_broadcaster" args="-0.1 0 0.4 3.14 0 0 base_link lidar_back_link 100" />

<!--
 <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find bb8_slam_zhou )/launch/carto_nav_turtlebot.rviz" />
-->

<!-- use odom data to show the path -->
  <node pkg="bb8_slam_zhou" type="foot_print" name="foot_printer" />

  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find bb8_slam_zhou)/configuration_files
          -configuration_basename turtlebot_hokuyo.lua"
      output="screen">
    <remap from="points2" to="/camera/depth/points" />
  </node>

  <node name="flat_world_imu_node" pkg="cartographer_turtlebot"
      type="cartographer_flat_world_imu_node" output="screen">
    <remap from="imu_in" to="/mobile_base/sensors/imu_data_raw" />
    <remap from="imu_out" to="/imu" />
  </node>

</launch>
